body{
    padding: 20px;
    height: 100%;
    width: 960px;
    background-color: white;
    margin: auto;
}
header{
    Background-color: white;
    margin-bottom: 30px;
}
img#logo{
    height: 45px;
    width: auto;
}
section{
    display: inline-block;
    width: auto;
    border: none;
}
nav{
    background-color: black;
    color: white;
    height: 40px;
    width: 1200px;
    display: flex;
    align-items: center;
    font-size: 20px;
    font-family: "Arial Black";
}
a.menuSpace{
    font-size: 25px;

}
a:link, a:visited{
    color: white;
    text-decoration: none;
}
div.main{
    background-color: white;
    width: 958px;
    height: 80%;

}
img.imgBreed{
    width: 1200px;
    height: auto;
}
div.artText{
    float: left;
    width: 50%;
    padding: 10px;
}
p#tekst{
    font-size: 22px;
    font-family: Arial;
}
h3#h3{
    font-size: 20px;
    font-family: Arial;
}
div.tVerbruik{
    float: right;
    padding: 10px;
}
table.verbruik{
    background-color: black;
}
tr:nth-child(even){
    background-color: white;
}
td#topLeftCorner{
    height: 80px;
    background-color: lightgray;
}
td#electriciteit{
    background-color: lightgreen;
    text-align: center;
}
td#aardgas{
    background-color: lightskyblue;
    text-align: center;
}
td.rowOne{
    width: 100px;
    height: 80px;
    padding: 5px;
    background-color: lightgray;
    font-family: Arial;
    font-size: 20px;
}
td.rowTwo{
    width: 100px;
    height: 80px;
    text-align: center;
    background-color: gray;
    font-family: Arial;
    font-size: 16px;
}
td.rows{
    width: 100px;
    height: 80px;
    text-align: center;
    background-color: lightgray;
    font-family: Arial;
    font-size: 16px;
}
a#verbruik{
    font-size: 20px;
    font-family: Arial;
}
div.fBottom{
    position: absolute;
    bottom: -125px;
    padding: 20px;
    width: 1200px;
    height: 110px;
    background-color: black;
    color: white;
    font-family: Arial;
}
a.afooter{
    font-size: 15px;
    font-family: Arial;
}
p#copyRight{
    text-align: center;
    font-size: 10px;
    font-family: Arial;
}